@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 242, 231);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 100px;
}

.screen {
  cursor: pointer;
  width: 60%;
}

.controls {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.controls .btn {
  background: transparent;
  border: none;
  color: #999;
}

.controls .btn:focus {
  outline: none;
}

.controls .btn:hover {
  color: #000;
}

.controls .timestamp {
  font-weight: bold;
  margin: 0 5px;
  color: #999;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}
